
.header{
  background-repeat: no-repeat;
  background-color: #000216;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 99%;
  box-sizing: border-box;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 100px;
  display: block; 
  height: 100px;
}
.headered{
  padding-left: 250px;
}
.headereded{
  color: red;
  padding-left: 500px;
}
h1 {
  padding-top: 20px;
    margin: auto;
    width: 50%;
    height: auto;
    display: block;
}